<div class="container">
  <h2>Signup</h2>
  <form (ngSubmit)="signup()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        [(ngModel)]="username"
        name="username"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        class="form-control"
        required
      />
    </div>
    <button class="btn btn-primary" type="submit">Signup</button>
    <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>
