.custom-dropdown {
  position: relative;
  width: 100%;
}

.dropdown-header {
  background-color: #feb47b;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  background-color: #ffe29f;
  border: 1px solid #ff7e5f;
  border-radius: 5px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ff7e5f;
  color: white;
}

/* Custom scrollbar styles */
.dropdown-list::-webkit-scrollbar {
  width: 8px;
}

.dropdown-list::-webkit-scrollbar-thumb {
  background-color: #ff7e5f;
  border-radius: 10px;
}
