<!-- Scrollable List Container -->
<div class="scrollable-list">
  <!-- Unordered List for Displaying Categories -->
  <ul class="list-group">
    <!-- Loop through categories and create a list item for each category -->
    <li
      class="list-group-item"
      *ngFor="let category of categories"
      [ngClass]="{ selected: category === selectedCategory }"
      (click)="selectCategory(category)"
    >
      {{ category.category }}
      <!-- Display the category name -->
    </li>
  </ul>
</div>
