footer {
  background: linear-gradient(
    135deg,
    #ffe29f,
    #ff8c94
  ); /* Warm tones to match header and navbar */
  background-attachment: fixed;
  background-size: cover;
  max-height: 100px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
